* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: none; */
    /* outline: 1px solid red; */
}


/* body element */
body{
       font-family: 'Quattrocento Sans', sans-serif;
        /* background: url("./../images/aurora.jpg") no-repeat center center; */
        /* background-attachment: fixed; */
        /* background-size: cover;  */
        color: rgba(255, 255, 255, .9);
        /* background-color: rgba(0, 0, 0, .9); */
        /* padding: 50px; */
        /* background: #4389A2; */
        height: 100%;
        width: 100%;
        background-image:linear-gradient(rgba(0,0,0,.05), rgba(0,0,0,.05)), url(./../images/underwater-802092_1280.jpg);
        background-size: cover;
        background-repeat: no-repeat;
       
    }

    header {
        /* outline: 2px solid green; */
        width: 100%;
        text-align: center;
        margin-top: 100px;
    }

    p {
        /* outline: 2px solid green; */
        font-size: 50px;
        letter-spacing: 1px;
        margin: 50px 0 25px 0;
    }

    .counter-container {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        /* outline: 1px solid red; */
    }

    .counters{
        font-size: 30px;
        /* outline: 3px solid green; */
        width: 100%;
        /* padding: 0 25px 0 0; */
        margin: 0 auto;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        /* align-items: center; */
    }

    .meas_container{
        margin-top: 30px;       
        background-color:rgba(255, 255, 255, .3);
        border: 2px solid rgba(255, 255, 255, .5);
        /* outline: 1px solid red; */
        height: 200px;
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 3px 3px 3px black;
        border-radius: 50%;
    }
    
    .title{
        font-size: 18px;
        /* outline: 1px solid blue; */
    }
    
    .typingIcon{
        height: 50px;
        /* outline: 2px solid blue; */
    }

    .typingIcon .speed {
         /* outline: 2px solid blue; */
        width:60px;
    }

    .typingIcon .cpm {
        width:30px;
    }

    .typingIcon .accuracy {
        width: 50px;
        height: 100%;
    }

    .typingIcon .stopwatch {
        width: 45px;
        height: 100%;
    }
    
    .test-words {
        height: 360px;
        background-color: rgba(255,255,255,0.2);
        /* margin: 10px auto; */
        font-size: 30px;
        width: 80%;
        overflow: hidden;
        margin: 70px auto;
        line-height: 40px;
        border-radius: 5px;
        box-shadow: 3px 3px 3px black;
        /* outline: 1px solid red; */
        text-align: center;
    }
    
    .change{
        height: 25px;
        font-size: 18px;
        /* outline: 1px solid blue; */
    }

    .text-input {
        /* outline: 2px solid red; */
        display: flex;
        justify-content: center;
        border: none;
        color: rgba(255, 255, 255, .9);
    }

    .text {
        /* outline: 15px solid purple; */
        padding: 15px 20px;
        text-align: center;
        border: none;
        box-shadow: 3px 3px 3px black;
    }

    .text::placeholder {
        color: rgba(255, 255, 255, .7);
    }

    .text:focus {
        outline: none;
    }
    
    #input{
        background-color:rgba(0, 0, 0, .1);
        width: 35%;
        font-size: 30px;
        /* padding: 10px; */
        color: #fff;
    }

    
    .restart{
        margin-top: 80px;
        margin-bottom: 40px;
        opacity: 0.8;
        /* outline: 2px solid red; */
        display: flex;
        justify-content: center;
    }
    
    .restart-button{
        background:rgba(0, 0, 0, .1);
        /* outline: 1px solid red; */
        border: 2px solid rgba(255, 255, 255, .4);
        color: white;
        height: 65px;
        width: 15%;
        box-shadow: 3px 3px 3px black;
        font-size: 30px;
        border-radius: 5px;
    }
    
    .restart-button:focus,.restart-button:active,.restart-button:hover{
        background: rgba(0, 0, 0, .1);
        border: 2px solid rgba(255, 255, 255, .5);
    }
    
    .scoreDown, .scoreUp{
        border-radius: 5px;
        padding: 5px;
        font-size: 12px;
    }
    
    .scoreDown{
        background: red;
    }
    
    .scoreUp{
        background: rgba(0, 255, 0, 0.493);
        color: black
    }
    
    .modal{
        /* width: 100%; */
        /* height: 100%; */
        color: black;
        /* outline: 15px solid red; */
    }

    /* .modal-content {
        width: 1000px;
        height: 1000px;
        outline: 5px solid blue;
    } */

    .modal-dialog {
        /* outline: 10px solid red; */
    }

    .activeWord {
        /* text-decoration: underline; */
        background-color: rgba(0, 0, 0, .3);
        border-radius: 2px;
    }

    .correctCharacter {
        color: lime;
    }

    .wrongCharacter {
        color: rgb(235, 36, 36);
    }

    .result {
        font-size: 20px;
    }

    .footer-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-top: 100px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, .7);
        font-family: 'Open Sans Condensed', sans-serif;
    }

    footer p {
        font-size: 20px;
        letter-spacing: 4px;
        color: rgba(255, 255, 255, .6);
        /* outline: 1px solid red; */
    }

    .fish1,
    .fish2,
    .fish3 {
        font-size: 25px;
        text-shadow: 3px 3px 3px rgba(0, 0, 0, .9);
    }
    
    .fish1 {
        color: rgba(38, 86, 163, 0.8);
    }

    .fish2 {
        color: rgba(87, 141, 36, 0.8);
    }

    .fish3 {
        color: rgba(196, 96, 30, 0.8);
    }

    /* MEDIA QUERIES */

    @media screen and (max-width: 1300px) {
        header {
            margin-top: 0px;
        }

        .meas_container{
            height: 185px;
            width: 185px;
        }
    }

    @media screen and (max-width: 1100px) {    
        p {
            /* outline: 2px solid green; */
            font-size: 43px;
        }

        .counters{
            font-size: 30px;
            /* outline: 3px solid green; */
            width: 80%;
        }
    
        .typingIcon .speed {
            width:45px;
            height: 50%;
        }
    
        .typingIcon .cpm {
            width:25px;
            height: 65%;
        }
    
        .typingIcon .accuracy {
            width: 25px;
            height: 60%;
        }
    
        .typingIcon .stopwatch {
            width: 30px;
            height: 70%;
        }
        .title{
            font-size: 12px;
            /* outline: 1px solid blue; */
        }

        /* #input{
            width: 55%;
        }         */

        .text::placeholder {
            font-size: 25px;
        }
    }

    @media screen and (max-width: 1000px) {
        .meas_container{
            height: 135px;
            width: 135px;
        }

        #input{
            width: 40%;
        }        
    }

    @media screen and (max-width: 900px) {

        .counters{
            font-size: 30px;
            width: 80%;
        }

        .meas_container{
            height: 130px;
            width: 130px;
        }

        .text::placeholder {
            /* font-size: 20px; */
        }

        #input{
            width: 50%;
        }  
    }

    @media screen and (max-width: 700px) {

        .counters {
            width: 100%;
        }

        .meas_container {
            height: 130px;
            width: 130px;
        }

        #content {
            font-size: 22px;
        }

        #input{
            width: 55%;
        }  

        .text::placeholder {
            /* font-size: 18px; */
        }
    }

    @media screen and (max-width: 600px) {
        .counters {
            width: 100%;
            justify-content: center;
            margin: auto;
        }

        .meas_container {
            height: 115px;
            width: 115px;
            border-radius: 5%;
        }

        #input{
            width: 60%;
        }  
    }

    @media screen and (max-width: 500px) {
        .meas_container {
            height: 105px;
            width: 100px;
        }
        .title {
            font-size: 10px;
        }

        #input{
            width: 65%;
        }  
    }

    @media screen and (max-width: 450px) {
        .meas_container {
            height: 105px;
            width: 90px;
        }

        #input{
            width: 80%;
        } 
    }

    @media screen and (max-width: 400px) {
        #input{
            width: 85%;
        }  
    }

 